{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% block content%}


<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


<H1 style="color: yellow;">Watchlist</H1>
  <br/>

      {% for watchlist in object_list%}
      <div style="display: inline-block; margin-left: 10px;">
        <a href="{% url 'filmspage:film-info' pk=watchlist.film.id%}">
        <img src="{{ watchlist.film.photo.url }}" alt="Film Photo" height="400px">
        </a>
        <H3 style="color: white;">{{ watchlist.film.movie }}</H3>   


      </div>

      {% endfor %}
      





{% endblock %}