{% extends "base.html" %}
{% load bootstrap %}
{% load static %}
{% load i18n %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/film_list.css' %}">

    <div class="filmdetail">
        <div>
            <div style="display: flex; align-items: baseline; ">
                <table>
                    <tr>
                        <th><h3 class="movieinfo">{{ film.movie }}</h3></th>
                    </tr>
                    <tr>
                        <th><p>{{ film.date }}</p></th>
                    </tr>
                </table>
                <div style="margin-left: 750px;">
                <table >
                    <tr>
                        <th colspan="2"><p style="font-size: 16px; margin-right: 10px;">IMDb RATING:</p></th>
                    </tr>
                    <tr>
                        <th>
                            <p style="display: inline-block; color: yellow; font-size: 22px; margin-right: 3px;">★</p>                      
                        <th><p style="display: inline-block; font-size: 22px; font-weight: bold; margin-right: 40px;">{{ film.rating }}/10</p></th>
                    </tr>
                
                </table>
                </div>
          </div>

        <div class="mediainfo">
        <img src="{{ film.photo.url }}" alt="Film Photo" height="500" style="display: inline-block;" >
        <iframe width="760" height="515" src="{{film.trailer}}" frameborder="0" allowfullscreen style="display: inline-block; margin-left: 3px;"></iframe>
        </div>
    <br>

    {% for genres in genres_list %}
        <p class="genres">{{ genres.genre.genres }}</p>
    {% endfor %}

    <br>
    <p >{{ film.description }}</p> 



    

    <script src="{% static 'js/film_detail.js' %}"></script>

    <footer>
        <div class="iconsdiv">
            <a href="https://github.com/PoliakovIvan">
                <button class="icons"><img src="../../media/icons/icons8-github-64.png" class="imgicons"></img></button>
            </a>
          <a  href="https://www.linkedin.com/in/ivan-poliakov-2b6177223/">
            <button class="icons"><img src="../../media/icons/icons8-linkedin-50.png" class="imgicons"></img></button>
          </a>
          <a  href="https://www.instagram.com/poliakov03_/">
            <button class="icons"><img src="../../media/icons/icons8-instagram-50.png" class="imgicons"></img></button>
          </a>
          
        </div>
        <div class="footer_p">
          <p> Get the IMDb App</p>
          <p> Help</p>
          <p> Site Index</p>
          <p> IMDbPro</p>
        </div>
        <div class="footer_p">
          <p> Press Room</p>
          <p> Advertising</p>
          <p> Jobs</p>
          <p>Conditions of Use</p>
          <p >Privacy Policy</p>
          <p >Your Ads Privacy Choices</p>
        </div>
        <br>
      </footer>
    
{% endblock %}