{% extends "base.html" %}
{% load bootstrap %}
{% load static %}
{% load mainpage %}
{% load i18n %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <div >
    <a href="{% url 'filmspage:film-info' pk=film.id%}"><h3 class="moviename">{{ film.movie }}</h3> </a>
    
    <p class="filmtext"> ★ {{ film.rating }} </p> 
    <p class="filmtext">Жанр: {{ film.genre }}</p>   
    <a href="{% url 'filmspage:film-update' pk=film.id %}">
        <img src="../../{{ film.photo.url }}" alt="." width="15" height="15" style=" display: inline-block; margin-left: 20px;">
    </a>
    <p>{{ film.description }},</p> 
    <p>Дата виходу: {{ film.date }}</p>
    
    </div>

{% endblock %}