{% extends "base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<div class="form-wrapper">
    <form class="form" method="POST">
        {% csrf_token %}

        <p id="heading">Register</p>

        {% for field in form.visible_fields %}
        <div class="field">
            <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"></path>
            </svg>
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}

        <div class="btn">
            <button class="button1" type="submit">Sign Up</button>
            <a class="button2" href="{% url 'auth:login' %}">Log in</a>
        </div>

    </form>
</div>

{% endblock %}
