form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #8f8f8f;
    background-color: rgb(87, 86, 86);
    color: white;
  }
  
  input[type="submit"] {
    padding: 5px 10px;
    background-color: rgb(48, 48, 49);
    border-color: yellow;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: yellow;
    color: rgb(48, 48, 49);
  }